@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Jess Hansen - Index";
}

<!--header of my name-->
<h1>Jess Hansen</h1>

<!--image of doing something that I enjoy (topgolf)-->
<img src="~/img/top_golf.jpg" />
<br />
<br />

<!--paragraph of what I'm trying to get out of this class-->
<p>
    I hope to get out of this class how to build good applications using different coding languages. I also would like to become proficient in C#.
    By the end of this class, I hope to have more projects to add to my portfolio.
</p>

<!--list of top 3 jobs I want-->
<h3>Top 3 Jobs I'm interested in pursuing when I graduate:</h3>
<ol>
    <li>Data Analyst</li>
    <li>Software Developer/Programmer</li>
    <li>Database Administrator</li>
</ol>